<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>thank you for leaving a message</h1>

    <h4>your details</h4>
    <p>Name: <%= contact.name %></p>
    <p>Message: <%= contact.message %></p>
  </body>
</html>
