<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <form class="" action="/contact" method="post">
      <label for="">Name</label>
      <input type="text" name="name" value="">
      <hr>
      <label for="">SurName</label>
      <input type="text" name="message" value="">
      <hr>
      <button type="submit" name="button">Button</button>
    </form>
  </body>
</html>
